<!-- your html code here -->
<hr class="my-4 mx-auto" style="width: 90%;">
<div class="container p-4">
    <h3><strong>Portfolio</strong></h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <div class="row g-4">
        <!-- Primer proyecto -->
        <div class="col-4 text-center">
            <img style="object-fit: contain; width: 100%; height: auto;" src="./assets/img/big-project-image.png" alt="Algo" />
            <p class="text-start p-0 mt-2 mb-0" style="color: rgb(65, 65, 247); font-size: 3vh; font-weight: 700;">Project Name</p>
            <p class="text-start" style="font-size: 2vh;">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
        </div>
        <!-- Segundo proyecto -->
        <div class="col-4 text-center">
            <img style="object-fit: contain; width: 100%; height: auto;" src="./assets/img/big-project-image.png" alt="Algo" />
            <p class="text-start p-0 mt-2 mb-0" style="color: rgb(65, 65, 247); font-size: 3vh; font-weight: 700;">Project Name</p>
            <p class="text-start" style="font-size: 2vh;">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
        </div>
        <!-- Tercer proyecto -->
        <div class="col-4 text-center">
            <img style="object-fit: contain; width: 100%; height: auto;" src="./assets/img/big-project-image.png" alt="Algo" />
            <p class="text-start p-0 mt-2 mb-0" style="color: rgb(65, 65, 247); font-size: 3vh; font-weight: 700;">Project Name</p>
            <p class="text-start" style="font-size: 2vh;">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
        </div>
    </div>
</div>
